<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <p>{{name}}
    </p>
    {{>footer}}

    <script src="./js/script.js"></script>
</body>

</html>