<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    
    <div>
        <form id="weatherForm">
            <input type="text" pattern="^[a-zA-Z0-9_.-]*$" placeholder="Location">
            <button type="submit">Submit</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </div>
    {{>footer}}

    <script src="./assets/js/script.js"></script>
</body>

</html>