<footer>
    <nav class="footerNav">
        <ul>
            <li><a href="/" class="" title="Home">Home</a></li>
            <li><a href="/about" class="" title="About">About</a></li>
        </ul>
    </nav>
    <p>Copyright &copy; Sandip Gadhave 2019 All rights reserved </p>
</footer>